:root {
  /* Color */
  --color-iris: #4d5ae5;
  --color-navyblue: #2e2f42;
  --promo-sektion: #e5e5e5;
  --slate-coler: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --accent-color: #e5e5e5;
  --border-color: #e7e9fc;
  --logo-color: #8e8f99;
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-own {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/img18.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.text-adress:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  color: #404bbf;
}
.text-adress:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  color: #404bbf;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.text-list {
  font-style: normal;
  margin-left: auto;
}
.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
  padding: 24px 0;
  width: calc((100% - 48px) / 3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link:hover {
  color: #404bbf;
}
.header-nav-link:focus {
  color: #404bbf;
}
.header-nav {
  position: relative;
  color: #404bbf;
}
.hero-main {
  background-color: #2e2f42;
}
.btn {
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: 494px;
  margin-right: 495px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.promo-sektion {
  background: #f4f4fd;
  padding: 120px 0;
}
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.alert {
  font-size: 56px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.alert-footer {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.subtitle-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.subtitle-center {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
  color: rgba(67, 68, 85, 1);
}
.text-adress {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
  position: relative;
}
.text-modal {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-web {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  margin-right: 76px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo-span {
  color: var(--color-navyblue);
}
.header-span {
  color: #f4f4fd;
}
.promo-text {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.btn-port {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-iris);
}
.btn-port:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.btn-port:focus {
  color: #ffffff;
  background-color: #404bbf;
}

main-port:hover {
  color: #ffffff;
  background-color: #404bbf;
}
main-port:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/*flex-three-home*/
.container-index {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  padding-bottom: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.flex-container-index {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.item-primery {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
}
.second {
  padding: 120px 0;
}
.menu-two {
  display: flex;
  gap: 24px;
}
.item-two {
  width: calc((100% - 72px) / 4);
  margin-bottom: 8px;
}
.third {
  padding-bottom: 120px;
}
.menu-third {
  display: flex;
  gap: 24px;
  padding: 0;
}
.item-third {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.menu-four {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
}
.slide {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.slide-four {
  padding: 32px 0px;
  text-align: center;
}
.page-web {
  display: inline-block;
  margin-bottom: 16px;
}

/*portfolio*/

.port-main {
  padding: 96px 0 120px;
}
.port-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  padding-left: 0;
}
.btn-portfol {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-iris);
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfol:hover {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: rgba(64, 75, 191, 1);
  color: #ffffff;
}
.btn-portfol:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu-portfol {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.picture {
  width: calc((100% - 48px) / 3);
}
.port-picture {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*hero image*/

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
/*!--shadow--*/

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.sicon {
  width: 40px;
  height: 40px;
}
.isicon {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.isicon:focus {
  background-color: #404bbf;
}
.isicon:hover {
  background-color: #404bbf;
}
.insicon {
  fill: var(--cloud-color);
}

/*!--section 5--*/
.fifth {
  padding-top: 120px;
  padding-bottom: 120px;
}
.menu-fifth {
  font-size: 36px;
  line-height: 1.1;
  color: var(--color-navyblue);
  margin-bottom: 72px;
  text-align: center;
}
.spisok-fifth {
  display: flex;
  gap: 24px;
}
.logo-fifth {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.slide-fifth {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--logo-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slide-fifth:hover {
  color: #404bbf;
  border-color: #404bbf;
}
.slide-fifth:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.icon-fife {
  fill: currentColor;
}
.feat-icon {
  object-fit: cover;
}

/*--footer 4--*/
.container-footer {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
}
.container-logo {
  gap: 120px;
  margin-right: 120px;
}
.social-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.spisok-icons {
  display: flex;
  gap: 16px;
  padding: 0;
}
.footer-icon {
  width: 40px;
  height: 40px;
}
.logo-company {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-company:hover {
  background-color: #31d0aa;
}
.logo-company:focus {
  background-color: #31d0aa;
}
.footer-icon:hover {
  background-color: #31d0aa;
}
.footer-icon:focus {
  background-color: #31d0aa;
}
.footer-fifht {
  fill: var(--cloud-color);
}
.aktive::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  color: #404bbf;
}

/*--modal window--*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.btn-modal:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.port-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.port-link:hover .port-modal,
.port-link:focus .port-modal {
  transform: translateY(0%);
}
.port-text {
  position: relative;
  overflow: hidden;
}
.port-modal {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item {
  position: relative;
}
