:root {
  /* Color */
  --color-iris: #4d5ae5;
  --color-navyblue: #2e2f42;
  --promo-sektion: #e5e5e5;
  --slate-coler: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --accent-color: #e5e5e5;
  --border-color: #e7e9fc;
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0; 
}
body {
  background: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.text-list {
  font-style: normal;
}
.header-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
  padding: 24px 0;
  width: calc((100% - 48px) / 3);
}
.header-nav-link:hover {
  color: #404bbf;
}
.header-nav-link:focus {
  color: #404bbf;
}

.hero-main {
  background-color: #2e2f42;
}
.btn {
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  border: none; 
  border-radius: 4px;
}
.btn:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.promo-sektion {
  background: #f4f4fd;
  padding: 120px 0 
}
.page-footer {
  background: #2e2f42;
  padding: 100px;
}
.alert {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 496px;
}
.alert-footer {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.subtitle-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.logo-web {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px; 
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo-span {
  color: var(--color-navyblue);
}
.header-span {
  color: #f4f4fd;
}
.promo-text {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.btn-port {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-iris);
}
.btn-port:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.btn-port:focus {
  color: #ffffff;
  background-color: #404bbf;
}

main-port:hover {
  color: #ffffff;
  background-color: #404bbf;
}
main-port:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/*flex-three-home*/
.container-index {
  display: flex;
  border-bottom: 1px solid #e7e9fc ;
}
.flex-container-index {
  display: flex;
  align-items: center;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; 
}
.container-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.item {
  width: calc((100% - 72px) / 4);
}
.item-primery {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;  
}
.second {
  padding: 120px 0; 
}
.menu-second {
  display: flex;
}
.item-secondary {
  flex-basis: calc((100% - 72px) / 4);
}
.third {
  padding-bottom: 120px;
}
.menu-third {
  display: flex;
  gap: 24px;
}
.item-third {
  flex-basis: calc((100% - 3 * 16px) / 3);
}
.menu-four {
  display: flex;
  gap: 24px;
}
.slide {
  display: block;
}
.slide-four {
  padding: 32px 16px;
}
.page-web {
  display: inline-block;
  margin-bottom: 16px;
}
.page-footer {
  padding: 100px 0;
}
/*portfolio*/
.port-main {
  padding: 96px 0 120px;
}
.port-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.btn-portfol {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-iris);
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.btn-portfol:hover {
  border: 1px solid transparent;
}
.btn-portfol:focus {
  border: 1px solid transparent;
}
.portfol-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.picture {
  width: calc((100% - 48px) / 3);
}
.port-picture {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}