:root {
  /* Color */
  --color-iris: #4d5ae5;
  --color-navyblue: #2e2f42;
  --promo-sektion: #e5e5e5;
  --slate-coler: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --accent-color: #e5e5e5;
  --border-color: #e7e9fc;
  --logo-color: #8e8f99;
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-own {
  height: 600px;
  outline: 1px solid black;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient
    (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/office.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  display: block;
}
.link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.text-list {
  font-style: normal;
  margin-left: auto;
}
.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
  padding: 24px 0;
  width: calc((100% - 48px) / 3);
}
.header-nav-link:hover {
  color: #404bbf;
}
.header-nav-link:focus {
  color: #404bbf;
}

.hero-main {
  background-color: #2e2f42;
}
.btn {
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: 494px;
  margin-right: 495px;
}
.btn:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.promo-sektion {
  background: #f4f4fd;
  padding: 120px 0;
}
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
  page-footer: 1440px;
}
.alert {
  font-size: 56px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.alert-footer {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.subtitle-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.subtitle-center {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logo-web {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo-span {
  color: var(--color-navyblue);
}
.header-span {
  color: #f4f4fd;
}
.promo-text {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.btn-port {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-iris);
}
.btn-port:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.btn-port:focus {
  color: #ffffff;
  background-color: #404bbf;
}

main-port:hover {
  color: #ffffff;
  background-color: #404bbf;
}
main-port:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/*flex-three-home*/
.container-index {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  padding-bottom: 0;
  margin-bottom: 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.flex-container-index {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.item {
  width: calc((100% - 80px) / 3);
}
.item-primery {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
}
.second {
  padding: 120px 0;
}
.menu-two {
  display: flex;
  gap: 24px;
}
.item-two {
  width: calc((100% - 72px) / 4);
margin-bottom: 8px;
}
.third {
  padding-bottom: 120px;
}
.menu-third {
  display: flex;
  gap: 24px;
  padding: 0;
}
.item-third {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.menu-four {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
}
.slide {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.slide-four {
  padding: 32px 24px;
  text-align: center;

}
.page-web {
  display: inline-block;
  margin-bottom: 16px;
}

/*portfolio*/

.port-main {
  padding: 96px 0 120px;
}
.port-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  padding-left: 0;
}
.btn-portfol {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-iris);
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.btn-portfol:hover {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-portfol:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu-portfol {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.picture {
  width: calc((100% - 48px) / 3);
}
.port-picture {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*hero image*/

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
/*!--shadow--*/

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.sicon {
  width: 40px;
  height: 40px;
}
.isicon {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.isicon:focus {
  background-color: #404bbf;
}
.isicon:hover {
  background-color: #404bbf;
}
.insicon {
  fill: var(--cloud-color);
}

/*!--section 5--*/
.fifth {
  padding-top: 120px;
  padding-bottom: 120px;
}
.menu-fifth {
  font-size: 36px;
  line-height: 1.1;
  color: var(--color-navyblue);
  margin-bottom: 72px;
  text-align: center; 
}
.spisok-fifth {
  display: flex;
  gap: 24px;
}
.logo-fifth {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.slide-fifth {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--logo-color);
}
.slide-fifth:hover {
  color: #404bbf;
  border-color: #404bbf;
}
.slide-fifth:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.icon-fife {
  fill: currentColor;
}
.feat-icon {
  object-fit: cover;
}

/*--footer 4--*/
.container-footer {
  width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
}
.container-logo {
  gap: 120px;
  margin-right: 120px;
  margin-left: 156px
}
.social-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.spisok-icons {
  display: flex;
  gap: 16px;
  padding: 0;
  
}
.footer-icon {
  width: 40px;
  height: 40px;
}
.logo-company {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon:hover {
  background-color: #31d0aa;
}
.footer-icon:focus {
  background-color: #31d0aa;
}
.footer-fifht {
  fill: var(--cloud-color);
}
